

.RH-LAYOUT-MINITOC-selected-pointer {
  background-color: #C43C00;
}

.RH-LAYOUT-RIGHTPANEL-container {
  color: #343434;
  background-color: rgb(255,255,255);
  font-family: Arial;
}

.RH-LAYOUT-HOMEPAGE-SIDEBAR-body {
  color: #343434;
  background-color: rgb(255,255,255);
  font-family: Arial;
}

.RH-LAYOUT-HOMEPAGE-TITLEBAR-container {
  font-family: Arial;
}

.RH-LAYOUT-HOMEPAGE-TOC-toc-list {
  font-family: Arial;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-RIGHTPANEL-container {
  color: #343434;
  background-color: rgb(255,255,255);
}




.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADER-title {
  color: #C43C00;
}

.RH-LAYOUT-CENTERPANEL-topic-box {
  color: black;
  background-color: rgb(255,255,255);
}

.RH-LAYOUT-BODY-container {
  background-color: rgb(255,255,255);
}

.RH-LAYOUT-CENTERPANEL-topic-box a {
  
}

.RH-LAYOUT-LEFTPANEL-container {
  background-color: white;
  color: #343434;
  font-family: Arial;
}

.RH-LAYOUT-LEFTPANEL-tab-list {
  color: #4D4D4D;
}




.RH-LAYOUT-MINITOC-item {
  color: #343434;
}

.RH-LAYOUT-MINITOC-selected-item {
  color: #C43C00;
}

.rh-layout-TOOLBAR-custom-button-wrapper {
  background-color: undefined;
}

.RH-LAYOUT-TOOLBAR-toolbar-box {
  background-color: rgb(255,255,255);
  font-family: Arial;
  color: #343434;
}

.RH-LAYOUT-HOMEPAGE-TITLEBAR-toolbar-box {
  font-family: Arial;
  color: #343434;
}

.RH-LAYOUT-SEARCH-to-right {
  font-family: Arial;
}

.rh-layout-selectdetails {
  font-family: Arial;
}

.RH-LAYOUT-BRS-container {
  font-family: Arial;
}



.RH-LAYOUT-BCRUMBS-brdcrmb-item {
  color: undefined;
}

.RH-LAYOUT-TOC-second-level-list-text {
  color: undefined;
}

.rh-layout-BCRUMBS-list-item {
  color: undefined;
}

.RH-LAYOUT-BCRUMBS-active-topic {
  color: undefined;
}

.RH-LAYOUT-MINITOC-caption {
  color: #393939;
}

.RH-LAYOUT-LEFTPANEL-selected-icon {
  background-color: #C43C00;
}

.RH-LAYOUT-LEFTPANEL-selected-section-icon {
  background-color: #C43C00;
}


.RH-LAYOUT-MINITOC-item-selected::before {
  background-color: #C43C00;
}

.RH-LAYOUT-BRS-prev-box {
  color: #676767;
}

.RH-LAYOUT-BRS-next-box {
  color: #676767;
}

.RH-LAYOUT-RIGHTPANEL-prev-button {
  color: #676767;
}

.RH-LAYOUT-RIGHTPANEL-next-button {
  color: #676767;
}



.RH-LAYOUT-HEADER-container {
  background-color: white;
  font-family: Arial;
  border-bottom: none;
}



.RH-LAYOUT-HOMEPAGE-TOC-title {
  color: #666666;
}

.RH-LAYOUT-HOMEPAGE-TOC-description {
  color: #666666;
}

.rh-layout-RIGHTPANEL-rightpanel-Saved-list ul {
  color: #4d4d4d;
}



.RH-LAYOUT-RIGHTPANEL-rightpanel-bmrk-saved {
  background-color: rgb(255,255,255);
}

.RH-LAYOUT-RIGHTPANEL-print-button {
  background-color: rgb(255,255,255);
}

.RH-LAYOUT-TOOLBAR-print-button {
  background-color: rgb(255,255,255);
}

.RH-LAYOUT-RIGHTPANEL-highlight-remove-button {
  background-color: rgb(255,255,255);
}









.RH-LAYOUT-LEFTPANEL-selected-tab {
  color: #C43C00;
}

.RH-LAYOUT-LEFTPANEL-title {
  color: #343434;
}

.RH-LAYOUT-LEFTPANEL-selected-title {
  color: #C43C00;
}



.RH-LAYOUT-TOOLBAR-toolbar .RH-LAYOUT-SEARCHBOX-predictions-box {
  color: #343434;
}

.RH-LAYOUT-BCRUMBS-label {
  color: undefined;
}

/*---^^var colors--------------------vv ignore selectors--------------------------------------------------*/

.rh-layout-footer-outer-box {
  width: 100%;
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
}

.rh-layout-footer-inner-left-box {
  height: 100%;
  width: 40%;
  float: right;
  display: flex;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}

.rh-layout-footer-imgTag {
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 0.5rem;
}

.rh-layout-footer-inner-right-box {
  height: 100%;
  width: 60%;
  float: right;
  display: flex;
  justify-content: space-evenly;
}

.rh-layout-footer-inner-right-box1 {
  height: 100%;
  text-align: right;
  box-sizing: border-box;
  margin-right: 2rem;
}

.rh-layout-footer-inner-right-box2 {
  height: 100%;
  text-align: right;
  box-sizing: border-box;
  margin-right: 2rem;
}

.rh-layout-footer-inner-right-box3 {
  height: 100%;
  text-align: right;
  box-sizing: border-box;
  margin-right: 2rem;
}

.rh-layout-footer-inner-right-box4 {
  height: 100%;
  text-align: right;
  box-sizing: border-box;
  margin-right: 2rem;
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-outer-box {
  height: auto;
  width: 100%;
  display: flex;
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-inner-left-box {
  height: auto;
  width: 30%;
  float: right;
  display: flex;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-imgTag {
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 0.5rem;
}

.rh-layout-footer-inner-right-box p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-inner-right-box {
  height: 100%;
  width: 70%;
  float: right;
  display: flex;
  flex-direction: column;
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-inner-right-box1 {
  height: 100%;
  width: 100%;
  float: right;
  display: flex;
  flex-direction: column;
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-inner-right-box2 {
  height: 100%;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-inner-right-box3 {
  height: 100%;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-inner-right-box4 {
  height: 100%;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-CENTERPANEL-container {
  color: #343434;
  background-color: rgb(255,255,255);
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-hide-logo-on-search {
  display: none;
}

.RH-LAYOUT-LEFTPANEL-container .frameless-hide {
  min-width: unset;
}

.RH-LAYOUT-MENUBAR-menubar {
  font-family: Arial;
}

.RH-LAYOUT-MENUBAR-menu {
  background-color: undefined;
  border-radius: 0.25rem;
}

.RH-LAYOUT-MENUBAR-submenu {
  background-color: undefined;
  border: none;
  border-radius: none;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-MENUBAR-menu,
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-MENUBAR-submenu {
  background: transparent;
  border: none;
  border-radius: 0;
}

.RH-LAYOUT-MENUBAR-item {
  color: undefined;
}

.RH-LAYOUT-MENUBAR-item-active {
  border-bottom-color: undefined;
  color: undefined;
}

.RH-LAYOUT-MENUBAR-menu-item-active {
  border: none;
  color: undefined;
}

.RH-LAYOUT-POPUP-container-body {
  font-family: Arial;
}

.RH-LAYOUT-POPUP-container {
  color: #343434;
  background-color: rgb(255,255,255);
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-POPUP-container {
  color: #343434;
  background-color: rgb(255,255,255);
}

.RH-LAYOUT-TOOLBAR-button-2::after {
  border-bottom-color: rgb(255,255,255);
}

.RH-LAYOUT-HEADERMENU-item {
  color: undefined;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADERMENU-item,
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADERMENU-menu-item {
  color: #747474;
}

.RH-LAYOUT-HOMEPAGE-HEADERMENU-item {
  color: undefined;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-HEADERMENU-item,
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-HEADERMENU-menu-item {
  color: #747474;
}

.js-focus-visible .focus-visible:not(input) {
  outline-color: undefined;
}



html {
}

:focus {
}
.js-focus-visible :focus:not(.focus-visible) {
}

.js-focus-visible .focus-visible:not(input) {
}

label {
}

.rh-BODY-wrapper a {}

.rh-button {
}

.rh-layout-BODY-main {
}

.rh-layout-BODY-body {
}

.rh-ellipses-class {
}

.RH-LAYOUT-thumbnail {
}

.RH-LAYOUT-thumbnail-img-container {
}

.RH-LAYOUT-thumbnail-close {
}

.RH-LAYOUT-thumbnail-image {
}

.rh-main-class {
}

.rh-BODY-wrapper {
}

.rh-layout-selectdetails {
}

.RH-LAYOUT-BODY-container {
}

.rh-hyperlink-popover {
}

.rh-popover {
}

.cookie-widget-holder {
}
.RH-LAYOUT-HEADER-container {
}

.RH-LAYOUT-HEADER-logo-box {
}

.RH-LAYOUT-HEADER-logo {
}

.rh-layout-HEADER-logo-link {
}

.rh-layout-HEADER-title-link {
}

.logo-holder{
}

.logo-holder-cover-class  {
}

.RH-LAYOUT-HEADER-title {
}



.RH-LAYOUT-LEFTPANEL-container {
}

.RH-LAYOUT-LEFTPANEL-tab-panel {
}

.RH-LAYOUT-LEFTPANEL-toc {
}

.RH-LAYOUT-LEFTPANEL-section {
}

.RH-LAYOUT-LEFTPANEL-title {
}

.RH-LAYOUT-LEFTPANEL-title-level-0 {
  font-weight: bold;
  font-size: 1.05rem;
  line-height: 1.25rem;
}

.RH-LAYOUT-LEFTPANEL-title-level-1 {
  color: #0000FF;
  font-size: 1.05rem;
}

.RH-LAYOUT-LEFTPANEL-title-level-2 {
  color: #9D019D;
  font-size: 1.05rem;
}

.RH-LAYOUT-LEFTPANEL-title-level-3 {
  color: #800000;
  font-size: 1.05rem;
}

.RH-LAYOUT-LEFTPANEL-title-level-4 {
  font-size: 1.05rem;
}

.RH-LAYOUT-LEFTPANEL-title-level-5 {
}

.RH-LAYOUT-LEFTPANEL-title-level-6 {
}

.RH-LAYOUT-LEFTPANEL-title-level-7 {
}

.RH-LAYOUT-LEFTPANEL-title:hover {
}

.RH-LAYOUT-LEFTPANEL-collapsed-title {
}

.RH-LAYOUT-LEFTPANEL-expand-icon {
}

.RH-LAYOUT-LEFTPANEL-expanded-title {
  background-color: rgba(128, 128, 0, 0.30);
}

.RH-LAYOUT-LEFTPANEL-collapse-icon {
}

.RH-LAYOUT-LEFTPANEL-topic-icon {
}

.RH-LAYOUT-LEFTPANEL-selected-title {
  font-weight: bold;
  color: #02A202;
  background-color: rgba(255, 255, 0, 0.40);
}
.rh-layout-LEFTPANEL-tree-item-content {
}

.rh-layout-LEFTPANEL-tree-item-content a {
}

.RH-LAYOUT-LEFTPANEL-selected-icon {
  background-color: #FF0000;
}

.RH-LAYOUT-LEFTPANEL-selected-section-icon {
}

.RH-LAYOUT-LEFTPANEL-selected-title:hover {
}

.rh-layout-LEFTPANEL-toc-icon-open {
}

.rh-layout-LEFTPANEL-toc-icon-collapsed {
}

.rh-layout-LEFTPANEL-left-panel {
}

.rh-layout-LEFTPANEL-tree-item-text {
}

.rh-layout-simple-list {
}

.rh-layout-LEFTPANEL-left-panel li:focus {
}
.RH-LAYOUT-LEFTPANEL-tab-view {
}

.RH-LAYOUT-LEFTPANEL-tab-list {
  background-color: #8F365E;
}

.RH-LAYOUT-LEFTPANEL-tab {
}

.RH-LAYOUT-LEFTPANEL-selected-tab {
  color: #FFFFFF;
}
.rh-layout-TOOLBAR-custom-button-wrapper {
}

  
.RH-LAYOUT-TOOLBAR-button-0 {
  }
  
 .RH-LAYOUT-TOOLBAR-button-0-applied {
  }

  .RH-LAYOUT-TOOLBAR-button-0 .RH-LAYOUT-TOOLBAR-button-icon {
  }
  
  .RH-LAYOUT-TOOLBAR-button-0 .RH-LAYOUT-TOOLBAR-button-icon-applied {
  }
  
  .RH-LAYOUT-TOOLBAR-button-1 {
  }
  
  .RH-LAYOUT-TOOLBAR-button-1-applied {
  }

  .RH-LAYOUT-TOOLBAR-button-1 .RH-LAYOUT-TOOLBAR-button-icon {
  }
  
  .RH-LAYOUT-TOOLBAR-button-1 .RH-LAYOUT-TOOLBAR-button-icon-applied {
  }
  
  .RH-LAYOUT-TOOLBAR-button-2 {
}
  
  .RH-LAYOUT-TOOLBAR-button-2-applied {
  }
  
  .RH-LAYOUT-TOOLBAR-button-2 .RH-LAYOUT-TOOLBAR-button-icon {
  }
  
  .RH-LAYOUT-TOOLBAR-button-2 .RH-LAYOUT-TOOLBAR-button-icon-applied {
  }
  
  .RH-LAYOUT-TOOLBAR-button-3 {
  }
  
  .RH-LAYOUT-TOOLBAR-button-3-applied {
  }
  
  .RH-LAYOUT-TOOLBAR-button-3 .RH-LAYOUT-TOOLBAR-button-icon {
  }
  
  .RH-LAYOUT-TOOLBAR-button-3 .RH-LAYOUT-TOOLBAR-button-icon-applied {
  }
  
  .RH-LAYOUT-TOOLBAR-button-4 {
  }
  
  .RH-LAYOUT-TOOLBAR-button-4-applied {
  }
  
  .RH-LAYOUT-TOOLBAR-button-4 .RH-LAYOUT-TOOLBAR-button-icon {
  }
  
  .RH-LAYOUT-TOOLBAR-button-4 .RH-LAYOUT-TOOLBAR-button-icon-applied {
  }
  
  .RH-LAYOUT-TOOLBAR-button-5 {
  }
  
  .RH-LAYOUT-TOOLBAR-button-5-applied {
  }
  
  .RH-LAYOUT-TOOLBAR-button-5 .RH-LAYOUT-TOOLBAR-button-icon {
  }
  
  .RH-LAYOUT-TOOLBAR-button-5 .RH-LAYOUT-TOOLBAR-button-icon-applied {
  }
  
  .RH-LAYOUT-TOOLBAR-button-6 {
  }
  
  
  .RH-LAYOUT-TOOLBAR-button-6-applied {
  }

  .RH-LAYOUT-TOOLBAR-button-6 .RH-LAYOUT-TOOLBAR-button-icon {
  }
  
  .RH-LAYOUT-TOOLBAR-button-6 .RH-LAYOUT-TOOLBAR-button-icon-applied {
  }
  
  .RH-LAYOUT-TOOLBAR-button-7 {
  }
  
.RH-LAYOUT-TOOLBAR-button-7-applied {
}

.RH-LAYOUT-TOOLBAR-button-7 .RH-LAYOUT-TOOLBAR-button-icon {
}

.RH-LAYOUT-TOOLBAR-button-7 .RH-LAYOUT-TOOLBAR-button-icon-applied {
}

.RH-LAYOUT-TOOLBAR-button-8 {
}

.RH-LAYOUT-TOOLBAR-button-8-applied {
}

.RH-LAYOUT-TOOLBAR-button-8 .RH-LAYOUT-TOOLBAR-button-icon {
}

.RH-LAYOUT-TOOLBAR-button-8 .RH-LAYOUT-TOOLBAR-button-icon-applied {
}
.RH-LAYOUT-HOMEPAGE-TOOLBAR-button-1 {
}
  
.RH-LAYOUT-HOMEPAGE-TOOLBAR-button-1-applied {
}

.RH-LAYOUT-HOMEPAGE-TOOLBAR-button-1 .RH-LAYOUT-HOMEPAGE-TOOLBAR-button-icon {
}
  
.RH-LAYOUT-HOMEPAGE-TOOLBAR-button-1 .RH-LAYOUT-HOMEPAGE-TOOLBAR-button-icon-applied {
}
  
.RH-LAYOUT-HOMEPAGE-TOOLBAR-button-2 {
}
  
.RH-LAYOUT-HOMEPAGE-TOOLBAR-button-2-applied {
}
  
.RH-LAYOUT-HOMEPAGE-TOOLBAR-button-2 .RH-LAYOUT-HOMEPAGE-TOOLBAR-button-icon {
}
  
.RH-LAYOUT-HOMEPAGE-TOOLBAR-button-2 .RH-LAYOUT-HOMEPAGE-TOOLBAR-button-icon-applied {
}
.nav {
}

.nav ul {
}

.nav li {
}

.nav li:last-child {
}

.nav li:nth-last-child(2) {
}

.nav#menu:target {
}

.nav#menu:target ul {
}

.nav#menu:target li {
}

.nav#menu:target li:not(:first-child) {
}

.nav#menu:target li:last-child {
}

.nav#menu:target li:nth-last-child(2) {
}

.rh-layout-TOOLBAR-tool-list {
}

.RH-LAYOUT-TOOLBAR-toolbar-box {
  background-color: #8F365E;
}

.RH-LAYOUT-TOOLBAR-toolbar {
  background-color: #8F365E;
}

.RH-LAYOUT-HOMEPAGE-TOOLBAR-toolbar {
}

.RH-LAYOUT-TOOLBAR-toc-icon-div {
}

.RH-LAYOUT-TOOLBAR-panel-show {
}

.RH-LAYOUT-TOOLBAR-panel-hide {
}

.RH-LAYOUT-TOOLBAR-menu-close {
}

.RH-LAYOUT-TOOLBAR-menu {
}
.RH-LAYOUT-CENTERPANEL-container {
}

.RH-LAYOUT-CENTERPANEL-container-fullscreen {
}


.RH-LAYOUT-CENTERPANEL-topic-box {
}



.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-CENTERPANEL-top-panel {
}


.RH-LAYOUT-RIGHTPANEL-bottom-toolbar {
}

.rh-layout-RIGHTPANEL-bottom-buttons {
}

.rh-layout-RIGHTPANEL-bottom-buttons>*:not(:last-child) {
}

.rh-layout-RIGHTPANEL-rightpanel-content {
}

.rh-fullscreenmode {
}




.RH-LAYOUT-RIGHTPANEL-container {
}

.RH-LAYOUT-RIGHTPANEL-top-buttons {
}



.RH-LAYOUT-RIGHTPANEL-rightpanel-bmrk-saved {
}

.RH-LAYOUT-RIGHTPANEL-print-button {
}

.RH-LAYOUT-RIGHTPANEL-highlight-remove-button {
}

.RH-LAYOUT-RIGHTPANEL-pageup-button {
}

.RH-LAYOUT-RIGHTPANEL-fullscreen-button {
}

.RH-LAYOUT-RIGHTPANEL-regular-screen-button {
}

.RH-LAYOUT-RIGHTPANEL-prev-button {
  font-weight: bold;
}

.RH-LAYOUT-RIGHTPANEL-next-button {
  font-weight: bold;
}
.RH-LAYOUT-FOOTER-container {
}
.RH-LAYOUT-HOMEPAGE-TITLEBAR-container {
}

.RH-LAYOUT-HOMEPAGE-TITLEBAR-title-bar {
}

.RH-LAYOUT-HOMEPAGE-TITLEBAR-logo {
}

.rh-layout-HOMEPAGE-TITLEBAR-logo-link {
}

.RH-LAYOUT-HOMEPAGE-TITLEBAR-title {
}

.rh-layout-HOMEPAGE-titlebar-right-box {
}

.RH-LAYOUT-HOMEPAGE-TITLEBAR-caption-bar {
}

.RH-LAYOUT-HOMEPAGE-TITLEBAR-caption {
}


.RH-LAYOUT-HOMEPAGE-TOC-container {
}

.RH-LAYOUT-HOMEPAGE-TOC-toctiles {
}

.RH-LAYOUT-HOMEPAGE-TOC-toc-list {
}

.RH-LAYOUT-HOMEPAGE-TOC-tile-box {
}

.RH-LAYOUT-HOMEPAGE-TOC-image-box {
}

.RH-LAYOUT-HOMEPAGE-TOC-details-box {
   display: grid;
  background-color: rgba(255, 255, 0, 0.34);
  position: relative;
}

.RH-LAYOUT-HOMEPAGE-TOC-title-box {
}

.RH-LAYOUT-HOMEPAGE-TOC-description-box {
}

.RH-LAYOUT-HOMEPAGE-FOOTER-container {
}

.RH-LAYOUT-HOMEPAGE-TOPICAREA-container {
}

.rh-layout-searchresults-close-icon-wrapper {
}



.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-results-header {
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-results-header-label {
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-close-icon {
}

.rh-layout-HOMEPAGE-title-a-div a {
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-result-item {
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-result-item-title {
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-result-item-summary {
}



.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-result-item-path {
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-results-footer {
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-paginator {
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-paginator-label {
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-prev-page {
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-prev-page-icon {
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-next-page {
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-next-page-icon {
}

.RH-LAYOUT-HOMEPAGE-TOC-title {
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  color: #FF0000;
}

.RH-LAYOUT-HOMEPAGE-TOC-description {
}

.rh-layout-homepage-titlebar-search-with-help-homepage {
}

.RH-LAYOUT-HOMEPAGE-selectdetails {
}

.RH-LAYOUT-HOMEPAGE-TOOLBAR-custom-button-wrapper {
}


.RH-LAYOUT-SEARCHRESULTS-gloss-result-header {
}
  
.RH-LAYOUT-SEARCHRESULTS-gloss-term,.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-gloss-term {
}


.RH-LAYOUT-MINITOC-container {
}

.RH-LAYOUT-MINITOC-container ol {
}

.rh-layout-MINITOC-minitoc-base-ol>ol {
}

.RH-LAYOUT-MINITOC-caption {
}

.rh-layout-MINITOC-rightpanel-minitoc-list {
}

.rh-layout-MINITOC-rightpanel-minitoc-list li {
}

.rh-layout-MINITOC-rightpanel-minitoc-list ol {
}

.RH-LAYOUT-MINITOC-item {
}

.minitoc-base-ol {
}

.rh-layout-MINITOC-item-wrapper {
}

.rh-layout-MINITOC-item-wrapper br {
}

.rh-layout-MINITOC-item-pointer {
}

.RH-LAYOUT-MINITOC-selected-pointer {
}

.RH-LAYOUT-MINITOC-selected-item {
}

.RH-LAYOUT-MINITOC-item-level-1 {
}

.RH-LAYOUT-MINITOC-item-level-2 {
}

.RH-LAYOUT-MINITOC-item-level-3 {
}

.RH-LAYOUT-MINITOC-item-level-4 {
}

.RH-LAYOUT-MINITOC-item-level-5 {
}

.RH-LAYOUT-MINITOC-item-level-6 {
}

.RH-LAYOUT-BCRUMBS-container {
}

.RH-LAYOUT-BCRUMBS-label {
}

.RH-LAYOUT-BCRUMBS-list-box {
}

.rh-layout-BCRUMBS-list-item {
}

.rh-layout-BCRUMBS-list-item::before {
}

.rh-layout-BCRUMBS-list-item:first-child::before {
}

.RH-LAYOUT-BCRUMBS-brdcrmb-item {
}

.RH-LAYOUT-BCRUMBS-active-topic {
}

.rh-layout-BCRUMBS-list-item:last-child a {
}

.rh-layout-BCRUMBS-nav {
}
.RH-LAYOUT-BRS-container {
}

.rh-layout-BRS-brs-seq {
}

.RH-LAYOUT-BRS-prev-box {
}

.RH-LAYOUT-BRS-prev-box:before {
}

.RH-LAYOUT-BRS-next-box {
}

.RH-LAYOUT-BRS-next-box:after {
}

.rh-layout-RIGHTPANEL-rightpanel-Saved-list {
}

.rh-layout-RIGHTPANEL-rightpanel-Saved-list ul {
}

.rh-layout-RIGHTPANEL-rightpanel-save-label-div {
}


.rh-layout-HOMEPAGE-RIGHTPANEL-rightpanel-Saved-list {
}

.rh-layout-HOMEPAGE-RIGHTPANEL-rightpanel-Saved-list ul {
}

.rh-layout-HOMEPAGE-RIGHTPANEL-rightpanel-save-label-div {
}




.RH-LAYOUT-HOMEPAGE-SIDEBAR-container {
}

.RH-LAYOUT-HOMEPAGE-SIDEBAR-body {
}

.RH-LAYOUT-HOMEPAGE-SIDEBAR-body-visible {
}

.RH-LAYOUT-HOMEPAGE-SIDEBAR-header {
}

.RH-LAYOUT-HOMEPAGE-SIDEBAR-close-icon {
}

.RH-LAYOUT-HOMEPAGE-SIDEBAR-content {
}
.rh-layout-overlay {
}
.rh-layout-overlay.layout-visible {
}


.RH-LAYOUT-HEADERMENU-container {
}

.RH-LAYOUT-HEADERMENU-list {
}

.RH-LAYOUT-HEADERMENU-item {
}
.RH-LAYOUT-HOMEPAGE-HEADERMENU-container {
}

.RH-LAYOUT-HOMEPAGE-HEADERMENU-list {
}

.RH-LAYOUT-HOMEPAGE-HEADERMENU-item {
}


  
.RH-LAYOUT-HOMEPAGE-TITLEBAR-skip-content-container {
}

.RH-LAYOUT-HOMEPAGE-TITLEBAR-skip-content-link {
}

.RH-LAYOUT-HOMEPAGE-TITLEBAR-skip-content-link:focus {
}

.RH-LAYOUT-HEADER-skip-content-container {
}

.RH-LAYOUT-HEADER-skip-content-link {
}

.RH-LAYOUT-HEADER-skip-content-link:focus {
}


.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-0 {
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-0-applied {
  }

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-0 .RH-LAYOUT-TOOLBAR-button-icon {
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-0 .RH-LAYOUT-TOOLBAR-button-icon-applied {
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-1 {
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-1-applied {
  }

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-1 .RH-LAYOUT-TOOLBAR-button-icon {

  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-1 .RH-LAYOUT-TOOLBAR-button-icon-applied {
  
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-2 {
  
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-2-applied {
   
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-2 .RH-LAYOUT-TOOLBAR-button-icon {
   
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-2 .RH-LAYOUT-TOOLBAR-button-icon-applied {
   
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-3 {
    
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-3-applied {
    
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-3 .RH-LAYOUT-TOOLBAR-button-icon {
  
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-3 .RH-LAYOUT-TOOLBAR-button-icon-applied {
    
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-4 {
    
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-4-applied {
    
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-4 .RH-LAYOUT-TOOLBAR-button-icon {
  
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-4 .RH-LAYOUT-TOOLBAR-button-icon-applied {
    
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-5 {
   
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-5-applied {
    
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-5 .RH-LAYOUT-TOOLBAR-button-icon {
   
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-5 .RH-LAYOUT-TOOLBAR-button-icon-applied {
    
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-6 {
   
  }
  
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-6-applied {
    
  }

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-6 .RH-LAYOUT-TOOLBAR-button-icon {
    
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-6 .RH-LAYOUT-TOOLBAR-button-icon-applied {
    
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-7 {
   
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-7-applied {
 
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-7 .RH-LAYOUT-TOOLBAR-button-icon {
    
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-7 .RH-LAYOUT-TOOLBAR-button-icon-applied {
   
  }

  .RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-8 {
   
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-8-applied {
 
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-8 .RH-LAYOUT-TOOLBAR-button-icon {
    
  }
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-8 .RH-LAYOUT-TOOLBAR-button-icon-applied {
   
  }
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOOLBAR-button-1 {
}
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOOLBAR-button-1-applied {
    
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOOLBAR-button-1 .RH-LAYOUT-HOMEPAGE-TOOLBAR-button-icon {
  
}
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOOLBAR-button-1 .RH-LAYOUT-HOMEPAGE-TOOLBAR-button-icon-applied {
    
}
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOOLBAR-button-2 {
   
}
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOOLBAR-button-2-applied {
    
}
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOOLBAR-button-2 .RH-LAYOUT-HOMEPAGE-TOOLBAR-button-icon {
  
}
  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOOLBAR-button-2 .RH-LAYOUT-HOMEPAGE-TOOLBAR-button-icon-applied {
    
}
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-toolbar-box {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-toolbar {

}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOOLBAR-toolbar {

}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-toc-icon-div {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-panel-show {

}
.RH-LAYOUT-CENTERPANEL-top-panel {
}


  
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-FOOTER-container {

}
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TITLEBAR-container {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TITLEBAR-title-bar {
 
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TITLEBAR-logo {
 
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TITLEBAR-title {
}


.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TITLEBAR-caption-bar {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TITLEBAR-caption {
  
}





.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOC-container {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOC-toctiles {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOC-toc-list {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOC-tile-box {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOC-image-box {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOC-details-box {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOC-title-box {
 
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOC-description-box {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-FOOTER-container {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOPICAREA-container {
  
}









.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOC-title {
 
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOC-description {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-selectdetails {
 
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TOOLBAR-custom-button-wrapper {
  
}



  



.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-BCRUMBS-container {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-BCRUMBS-label {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-BCRUMBS-list-box {
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-BCRUMBS-list-item::before {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-BCRUMBS-brdcrmb-item {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-BCRUMBS-active-topic {
}
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-BRS-container {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-BRS-prev-box {
  font-weight: bold;
  color: #000000;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-BRS-prev-box:before {
  font-weight: bold;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-BRS-next-box {
  font-weight: bold;
  color: #000000;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-BRS-next-box:after {
  color: #000000;
  font-weight: bold;
}


.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADER-container {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADER-logo-box {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADER-logo {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADER-title {
}



.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-container {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-tab-view {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-tab-list {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-tab {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-selected-tab {
 
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-tab-panel {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-toc {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-section {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-title {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-title-level-0 {
 
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-title-level-1 {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-title-level-2 {
 
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-title:hover {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-collapsed-title {

}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-expand-icon {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-expanded-title {
 
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-collapse-icon {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-selected-title {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-selected-icon {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-selected-section-icon {
  
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-selected-title:hover {
 
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-CENTERPANEL-container {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-panel-hide {
}

.RH-LAYOUT-BODY-mobile-view .nav ul {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-button-icon {}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-CENTERPANEL-topic-box {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-RIGHTPANEL-container {
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-RIGHTPANEL-rightpanel-save-label-div {
}
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-SIDEBAR-container {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-SIDEBAR-body {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-SIDEBAR-header {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-SIDEBAR-close-icon {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-SIDEBAR-content {
}
.RH-LAYOUT-BODY-mobile-view {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-BODY-container {
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-BODY-body {
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-BODY-main {
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-BODY-main #rh-main-content {
}
.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADERMENU-container {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADERMENU-overlay {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADERMENU-menu {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADERMENU-menu-open-icon {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADERMENU-menu-close-icon {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADERMENU-list {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADERMENU-item {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADERMENU-item:hover {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-HEADERMENU-container {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-HEADERMENU-overlay {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-HEADERMENU-menu {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-HEADERMENU-menu-open-icon {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-HEADERMENU-menu-close-icon {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-HEADERMENU-list {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-HEADERMENU-item {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-HEADERMENU-item:hover {
}



.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TITLEBAR-skip-content-container {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TITLEBAR-skip-content-link {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TITLEBAR-skip-content-link:focus {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADER-skip-content-container {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADER-skip-content-link {
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADER-skip-content-link:focus {
}

[data-targetname]:not(.show) {
}

[data-targetname]:not(.show).frameless-hide {
}

.frameless-hide {
}

.frameless-invisible {
}

::-webkit-scrollbar {
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
}

::-webkit-scrollbar-thumb:hover {
}

body::-webkit-scrollbar-track {
}

body::-webkit-scrollbar-thumb {
}

body::-webkit-scrollbar-thumb:hover {
}

body::-webkit-scrollbar {
}

input[type='text']::-ms-clear {
}